/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
 @import '~bootstrap/dist/css/bootstrap.css';

.folders {
  float: left;
  width: 23%;
  margin-left: 2%;
}

.all_notes {
  display: inline-block;
  width: 23%;
  margin: 0% 1%;
  height: 91vh;
  overflow-y: scroll;
}

.writing {
  float: right;
  width: 48%;
  margin-right: 2%
}

#note_corps {
  height: 85vh;
}

.boutons_gauche {
  float: left;
  width: 35%;
  margin-top: 1vh;
}

.boutons_milieu {
  display: inline-block;
  width: 20%;
  margin-top: 1vh;
}

.boutons_droite {
  float: right;
  width: 45%;
  text-align: right;
  margin-top: 1vh;
}

#bouton_sauvegarde {
  margin-left: 5%;
}
